.welcome-section
  height: calc(100vh - 50px)
  min-height: 900px
  background: url("../../../images/welcome-img.png") no-repeat
  background-color: #f8f8f8

.ave
  height: 80vh
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center

  h1
    text-transform: uppercase
    color: #575153
    font-weight: 700
    font-size: 25vmax
    letter-spacing: 22.5px
    white-space: nowrap