.welcome-section
  height: calc(100vh - 50px)
  min-height: 900px
  background: url("../../../images/welcome-img.png") no-repeat
  background-color: #f8f8f8

.ave
  text-transform: uppercase
  text-align: center
  color: #575153
  font: 700 450px 'Montserrat', serif
  letter-spacing: 22.5px
  white-space: nowrap