.button
  background: none
  border: none
  &-user-menu
    color: $header-and-footer-text-color
  &-search
    border: 1px solid #e7e7e7
    border-left: none
  &-main
    font: $button-font
    text-transform: uppercase
    letter-spacing: 3.2px
    border: 2px solid #737373
  &-welcome
    position: absolute
    left: 70%
    top: 90%
    padding: 15px 25px
  &-info
    font-size: 48px
    color: #fff
    position: absolute
    top: 50%
    left: 50%
    &:hover
      color: $accent-color
  &:focus
    outline: none
  &-card
    padding: 15px 20px
  &-hover
    &:hover
      background: $accent-color
      color: #fff
      border: 2px solid $accent-color