.card-item
  background: $bg-color
  //max-height: 530px
  padding: 0 25px
  img
    padding-top: 45px
    width: 237px
    height: 487px
.card-description
  text-align: right
  padding: 90px 10px

  span
    @extend h2
    font-weight: 300
    margin-bottom: 15px
    display: block