$accent-color: #3ec8c9
$header-and-footer-bg: #333333
$header-text-color:  #999999
$bg-color: #f8f8f8



$gray: #6c7279
$light-gray: #c6cacc
$copyright-color: #808080


$default-font: 400 14px/21px "Raleway", sans-serif
$h2-font: 700 65px/71px "Open Sans", sans-serif
$h3-font: 700 14px/21px "Raleway", sans-serif
$card-tittle-font: 400 22px "Raleway", sans-serif
$button-font: 400 13px/21px "Raleway", sans-serif

$transition: all 0.5s ease


$fa-font-path: "../../fonts/FontAwesome"


